In [68]:
# imports
import geopandas as gpd
import pandas as pd

In [69]:
# read datasets
property_df = pd.read_csv("../data/raw/full_property_zones.csv")
income_and_pop = pd.read_csv("../data/raw/income_and_pop.csv")
australia_sf = gpd.read_file("../data/raw/shapefiles/Statistical_area_level2/SA2_2021_AUST_GDA2020.shp")
# seperate suburbs that are in Victoria
vic_sf = australia_sf[australia_sf['STE_NAME21'] == 'Victoria']

# drop the null location ID values
vic_sf.dropna(inplace=True)

/tmp/ipykernel_44197/1297430330.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vic_sf.dropna(inplace=True)

In [70]:
df = property_df.merge(income_and_pop, how='left', left_on='LocID', right_on='SA2_CODE_2021')

# shouldn't we do a left join instead of full outer join?
# we only care about the values in the property data, so the possible outcomes should be
# property data with income/pop data, or
# proprty data without income/pop data
# (we don't care about income/pop data without property data)

property_df.head(1)

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID
0,0,https://www.domain.com.au/3502-14-16-the-espla...,3502/14-16 The Esplanade St Kilda VIC 3182,5000.0,1,1,1,Apartment / Unit / Flat,noth els compar,206051514

In [71]:


df_centroid = income_and_pop.copy()

# replace object with shapely geometries
df_centroid = df_centroid.dropna(subset=["geometry"])
df_centroid['geometry'] = gpd.GeoSeries.from_wkt(df_centroid['geometry'])

df_centroid = gpd.GeoDataFrame(df_centroid)

In [72]:
# get centroids
df_centroid['centroid'] = df_centroid['geometry'].apply(lambda x: (x.centroid.y, x.centroid.x))
df_centroid.head(1)

,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21,centroid
0,201011001,865,370,2218,1952,13320,"POLYGON ((143.78282 -37.56666, 143.75558 -37.5...",Alfredton,"(-37.54173636281507, 143.749330252453)"

Need the coordinate data for each property in order for them to be linked to the nearest suburb based on its centroid.

In [73]:
property_df2 = pd.read_csv("../data/raw/full_property_data.csv")
property_df2.head(1)

,Unnamed: 0,latitude,longitude,index,name,cost_text,Bed,Bath,Park,property_type,desc_head
0,0,-37.865018,144.974682,https://www.domain.com.au/3502-14-16-the-espla...,3502/14-16 The Esplanade St Kilda VIC 3182,5000.0,1,1,1,Apartment / Unit / Flat,noth els compar

This one!

In [74]:
property_df = pd.merge(property_df, property_df2[['index', 'longitude', 'latitude']], on='index', how='left')

In [75]:
df = property_df.merge(df_centroid, how='left', left_on='LocID', right_on='SA2_CODE_2021')

# check what columns we no longer need; remove them
#unwanted_columns = ["Unnamed: 0"]
#df.drop(columns=unwanted_columns, inplace=True)

df.head(3)

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID,...,latitude,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21,centroid
0,0,https://www.domain.com.au/3502-14-16-the-espla...,3502/14-16 The Esplanade St Kilda VIC 3182,5000.0,1,1,1,Apartment / Unit / Flat,noth els compar,206051514,...,-37.865018,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,"POLYGON ((144.97031 -37.86077, 144.97018 -37.8...",St Kilda - West,"(-37.861344917872316, 144.9762676334905)"
1,1,https://www.domain.com.au/4203-35-spring-stree...,4203/35 Spring Street Melbourne VIC 3000,4500.0,3,2,2,Apartment / Unit / Flat,arguabl captiv penthous,206041503,...,-37.814172,206041503.0,884.0,375.0,2248.0,1511.0,10533.0,"POLYGON ((144.96534 -37.81137, 144.96576 -37.8...",Melbourne CBD - East,"(-37.81278701743976, 144.96859287374974)"
2,2,https://www.domain.com.au/901-902-85-market-st...,901 & 902/85 Market Street South Melbourne VIC...,3750.0,2,2,1,Apartment / Unit / Flat,call exclus penthous short stay minimum week stay,206051512,...,-37.830116,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN

In [76]:
df_missing = df.copy()  # dataframe with missing SA2 code only
df_missing = df_missing[df_missing["SA2_CODE_2021"].isna()]

# create POINT() geometry for the longitude and latitude of each property
df_missing = gpd.GeoDataFrame(
    df_missing, geometry=gpd.points_from_xy(df_missing.longitude, df_missing.latitude))
df_missing.head(1)

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID,...,latitude,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21,centroid
2,2,https://www.domain.com.au/901-902-85-market-st...,901 & 902/85 Market Street South Melbourne VIC...,3750.0,2,2,1,Apartment / Unit / Flat,call exclus penthous short stay minimum week stay,206051512,...,-37.830116,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.95690 -37.83012),NaN,NaN

In [77]:
# now that we have the location coordinate of each property, impute all the missing values with the closest centroid
# 1: find the difference between df_missing["geometry"] and every single value in df_centroid["centroid"]
# 2: we want to get the smallest difference
# 3: once found, the SA2 code of that centroid, along with the rest of the values in df_centroid, will be imputed to df
# 4: voila

In [78]:
from shapely.geometry import Point, Polygon
# this function converts two floats to a point that is recognised by Shapely
def convert_to_point(row):
    x = float(row["latitude"])
    y = float(row["longitude"])
    return Point(y, x)

In [79]:
df_centroid['point'] = df.apply (lambda row: convert_to_point(row), axis=1)

/home/sesshah/anaconda3/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [80]:
s = gpd.GeoSeries([*df_centroid["point"]])
s

0      POINT (144.97468 -37.86502)
1      POINT (144.97400 -37.81417)
2      POINT (144.95690 -37.83012)
3      POINT (145.05209 -37.83108)
4      POINT (144.93824 -37.82240)
                  ...
466    POINT (144.93458 -37.74056)
467    POINT (145.08085 -37.92607)
468    POINT (145.01910 -37.90366)
469    POINT (144.95291 -37.77635)
470    POINT (145.07589 -37.82312)
Length: 471, dtype: geometry

In [81]:
df_missing["geometry"].head(3)

2    POINT (144.95690 -37.83012)
5    POINT (145.03114 -37.85349)
6    POINT (145.03689 -37.81553)
Name: geometry, dtype: geometry

In [82]:
# this does not work.
s.distance(df_missing['geometry'].head(1)).dropna()

/home/sesshah/anaconda3/lib/python3.9/site-packages/geopandas/base.py:31: UserWarning: The indices of the two GeoSeries are different.
  warn("The indices of the two GeoSeries are different.")

2    0.0
dtype: float64

In [83]:
dist_mtrx = s.geometry.apply(lambda g: df_missing['geometry'].distance(g))

In [84]:
dist_mtrx.transpose()

,0,1,2,3,4,5,6,7,8,9,...,461,462,463,464,465,466,467,468,469,470
2,0.039168,0.023380,0.000000,0.095195,0.020200,0.077829,0.081308,0.077338,0.092545,0.072266,...,0.120668,0.059464,0.072447,0.038703,0.056613,0.092297,0.156747,0.096312,0.053913,0.119193
5,0.057625,0.069356,0.077829,0.030676,0.097969,0.000000,0.038393,0.051929,0.076780,0.061439,...,0.076372,0.072515,0.025769,0.059729,0.043052,0.148583,0.087974,0.051595,0.109864,0.054080
6,0.079494,0.062902,0.081308,0.021748,0.098894,0.038393,0.000000,0.016099,0.112686,0.094777,...,0.114698,0.046424,0.014410,0.047149,0.025386,0.126839,0.118965,0.089908,0.092670,0.039732
8,0.053907,0.103994,0.092545,0.107178,0.107181,0.076780,0.112686,0.122472,0.000000,0.021299,...,0.038932,0.129286,0.098372,0.107061,0.104625,0.184604,0.093003,0.033663,0.145203,0.128551
9,0.033187,0.082753,0.072266,0.092083,0.088092,0.061439,0.094777,0.103285,0.021299,0.000000,...,0.051103,0.108302,0.080367,0.085867,0.084484,0.163899,0.098824,0.033273,0.124279,0.115120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10925,0.081771,0.068417,0.086074,0.015606,0.104073,0.036264,0.006370,0.021962,0.112074,0.094909,...,0.111969,0.052786,0.015657,0.052943,0.030978,0.133198,0.113847,0.087798,0.098987,0.033894
10926,0.081771,0.068417,0.086074,0.015606,0.104073,0.036264,0.006370,0.021962,0.112074,0.094909,...,0.111969,0.052786,0.015657,0.052943,0.030978,0.133198,0.113847,0.087798,0.098987,0.033894
10935,0.026694,0.046077,0.047623,0.057874,0.067733,0.032553,0.053684,0.059732,0.064867,0.044411,...,0.080966,0.064782,0.039838,0.043844,0.040108,0.129508,0.109933,0.054517,0.089351,0.082927
10977,0.035329,0.032441,0.040433,0.055769,0.060332,0.038043,0.045762,0.048066,0.080253,0.059408,...,0.096548,0.049075,0.034013,0.028030,0.026697,0.115019,0.122278,0.069971,0.075096,0.080483
11001,0.022846,0.040200,0.040398,0.063035,0.060492,0.039284,0.056672,0.060884,0.067168,0.046124,...,0.086143,0.062178,0.043486,0.040029,0.040022,0.123696,0.116887,0.060002,0.083485,0.088127

In [106]:
row_mins_df = pd.DataFrame(dist_mtrx.idxmin(axis=0))
row_mins_df

         0
2        2
5        5
6        6
8        8
9        9
...    ...
10925    6
10926    6
10935  256
10977  239
11001   81

[1549 rows x 1 columns]

In [88]:
df_missing # to do map min index to relevant row and then perform a join.

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID,...,latitude,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21,centroid
2,2,https://www.domain.com.au/901-902-85-market-st...,901 & 902/85 Market Street South Melbourne VIC...,3750.0,2,2,1,Apartment / Unit / Flat,call exclus penthous short stay minimum week stay,206051512,...,-37.830116,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.95690 -37.83012),NaN,NaN
5,5,https://www.domain.com.au/7-haverbrack-avenue-...,7 Haverbrack Avenue Malvern VIC 3144,3500.0,2,2,2,House,famili exclus resort style ground,208041194,...,-37.853487,NaN,NaN,NaN,NaN,NaN,NaN,POINT (145.03114 -37.85349),NaN,NaN
6,6,https://www.domain.com.au/603-862-glenferrie-r...,603/862 Glenferrie Road Hawthorn VIC 3122,3500.0,3,3,2,Apartment / Unit / Flat,hawthorn best penthous amaz citi view,207011519,...,-37.815528,NaN,NaN,NaN,NaN,NaN,NaN,POINT (145.03689 -37.81553),NaN,NaN
8,8,https://www.domain.com.au/9-keith-court-bright...,9 Keith Court Brighton VIC 3186,3500.0,4,2,0,House,applic,208011169,...,-37.917184,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.98827 -37.91718),NaN,NaN
9,9,https://www.domain.com.au/1-20-kent-avenue-bri...,1/20 Kent Avenue Brighton VIC 3186,3500.0,3,1,1,House,premier locat could next home,208011169,...,-37.895941,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.98673 -37.89594),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10925,10926,https://www.domain.com.au/3-37-elphin-grove-ha...,3/37 Elphin Grove Hawthorn VIC 3122,175.0,3,1,0,Semi-Detached,bedsit prime locat,207011519,...,-37.818968,NaN,NaN,NaN,NaN,NaN,NaN,POINT (145.04225 -37.81897),NaN,NaN
10926,10927,https://www.domain.com.au/10-37-elphin-grove-h...,10/37 Elphin Grove Hawthorn VIC 3122,175.0,0,1,0,Semi-Detached,studio apart ideal locat,207011519,...,-37.818968,NaN,NaN,NaN,NaN,NaN,NaN,POINT (145.04225 -37.81897),NaN,NaN
10935,10936,https://www.domain.com.au/1-60-the-avenue-prah...,1/60 The Avenue Prahran VIC 3181,170.0,1,1,0,Apartment / Unit / Flat,room hous south twin,206061136,...,-37.853143,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.99859 -37.85314),NaN,NaN
10977,10978,https://www.domain.com.au/670-chapel-street-so...,670 Chapel Street South Yarra VIC 3141,70.0,4,2,2,Carspace,vogu plaza car space,206061515,...,-37.837373,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.99668 -37.83737),NaN,NaN
11001,11002,https://www.domain.com.au/32-st-edmonds-rd-pra...,32 St Edmonds Rd Prahran VIC 3181,40.0,1,1,0,Apartment / Unit / Flat,secur street undercov car park avail central,206061136,...,-37.850119,NaN,NaN,NaN,NaN,NaN,NaN,POINT (144.99200 -37.85012),NaN,NaN

In [111]:

# this function converts two floats to a point that is recognised by Shapely
def assign_nearest_centroid(row):
    print(row['index'])
    row_num = row['Unnamed: 0']
    print("row num", row_num)
    matching_row = row_mins_df.loc[row_num]
    print("match:", matching_row)
    return df_centroid['SA2_CODE_2021'].loc[row_num]

In [112]:
df_missing.reset_index()
df_missing["SA2_CODE_2021"] = df_missing.apply (lambda row: assign_nearest_centroid(row), axis=1)

https://www.domain.com.au/901-902-85-market-street-south-melbourne-vic-3205-14089455
row num 2
match: 0    2
Name: 2, dtype: int64
https://www.domain.com.au/7-haverbrack-avenue-malvern-vic-3144-16041473
row num 5
match: 0    5
Name: 5, dtype: int64
https://www.domain.com.au/603-862-glenferrie-road-hawthorn-vic-3122-15954871
row num 6
match: 0    6
Name: 6, dtype: int64
https://www.domain.com.au/9-keith-court-brighton-vic-3186-16058214
row num 8
match: 0    8
Name: 8, dtype: int64
https://www.domain.com.au/1-20-kent-avenue-brighton-vic-3186-16069407
row num 9
match: 0    9
Name: 9, dtype: int64
https://www.domain.com.au/9-9-11-adamson-street-brighton-vic-3186-16071478
row num 17
match: 0    17
Name: 17, dtype: int64
https://www.domain.com.au/5-wellington-street-brighton-vic-3186-15950472
row num 19
match: 0    19
Name: 19, dtype: int64
https://www.domain.com.au/251-350-st-kilda-road-melbourne-vic-3000-15951316
row num 21
match: 0    21
Name: 21, dtype: int64
https://www.domain.com.au/42-dendy-street-brighton-vic-3186-15988734
row num 24
match: 0    24
Name: 24, dtype: int64
https://www.domain.com.au/richmond-vic-3121-13533466
row num 26
match: 0    26
Name: 26, dtype: int64
https://www.domain.com.au/21-mathoura-road-toorak-vic-3142-15987977
row num 30
match: 0    30
Name: 30, dtype: int64
https://www.domain.com.au/24-montalto-avenue-toorak-vic-3142-16063542
row num 31
match: 0    31
Name: 31, dtype: int64
https://www.domain.com.au/3-knight-street-elwood-vic-3184-16014388
row num 32
match: 0    32
Name: 32, dtype: int64
https://www.domain.com.au/46-48-wells-road-beaumaris-vic-3193-16001198
row num 33
match: 0    33
Name: 33, dtype: int64
https://www.domain.com.au/133-north-road-brighton-vic-3186-16017654
row num 34
match: 0    34
Name: 34, dtype: int64
https://www.domain.com.au/21-iona-avenue-toorak-vic-3142-16065186
row num 35
match: 0    35
Name: 35, dtype: int64
https://www.domain.com.au/27-grandview-road-brighton-vic-3186-15993971
row num 36
match: 0    36
Name: 36, dtype: int64
https://www.domain.com.au/1-2-shandford-avenue-brighton-vic-3186-15995849
row num 37
match: 0    37
Name: 37, dtype: int64
https://www.domain.com.au/12-clendon-court-toorak-vic-3142-14238687
row num 41
match: 0    41
Name: 41, dtype: int64
https://www.domain.com.au/99-grange-road-toorak-vic-3142-16076958
row num 42
match: 0    42
Name: 42, dtype: int64
https://www.domain.com.au/4a-fetherston-street-armadale-vic-3143-15975645
row num 43
match: 0    43
Name: 43, dtype: int64
https://www.domain.com.au/478-new-street-brighton-vic-3186-15992205
row num 44
match: 0    44
Name: 44, dtype: int64
https://www.domain.com.au/8-champion-street-brighton-vic-3186-16048073
row num 49
match: 0    49
Name: 49, dtype: int64
https://www.domain.com.au/4-19-birdwood-avenue-brighton-vic-3186-15875170
row num 51
match: 0    51
Name: 51, dtype: int64
https://www.domain.com.au/2-winmarleigh-close-brighton-vic-3186-15954363
row num 53
match: 0    53
Name: 53, dtype: int64
https://www.domain.com.au/163-victoria-parade-fitzroy-vic-3065-15870974
row num 54
match: 0    54
Name: 54, dtype: int64
https://www.domain.com.au/1002-243-toorak-road-south-yarra-vic-3141-16056057
row num 55
match: 0    55
Name: 55, dtype: int64
https://www.domain.com.au/7-bonanza-road-beaumaris-vic-3193-15960625
row num 56
match: 0    56
Name: 56, dtype: int64
https://www.domain.com.au/85-market-street-south-melbourne-vic-3205-14089206
row num 58
match: 0    58
Name: 58, dtype: int64
https://www.domain.com.au/8-st-finbars-crescent-brighton-east-vic-3187-15969436
row num 60
match: 0    60
Name: 60, dtype: int64
https://www.domain.com.au/7-wagstaff-court-brighton-vic-3186-15967461
row num 65
match: 0    65
Name: 65, dtype: int64
https://www.domain.com.au/120-glen-huntly-road-elwood-vic-3184-16058926
row num 66
match: 0    66
Name: 66, dtype: int64
https://www.domain.com.au/9-exon-street-brighton-vic-3186-16020106
row num 67
match: 0    67
Name: 67, dtype: int64
https://www.domain.com.au/23a-bruce-street-toorak-vic-3142-16012345
row num 69
match: 0    69
Name: 69, dtype: int64
https://www.domain.com.au/5-alimar-court-brighton-vic-3186-15910332
row num 71
match: 0    71
Name: 71, dtype: int64
https://www.domain.com.au/2301-1-almeida-crescent-south-yarra-vic-3141-14425729
row num 72
match: 0    72
Name: 72, dtype: int64
https://www.domain.com.au/112-harold-st-middle-park-vic-3206-16049514
row num 73
match: 0    73
Name: 73, dtype: int64
https://www.domain.com.au/1302-1-powlett-street-east-melbourne-vic-3002-15984037
row num 74
match: 0    74
Name: 74, dtype: int64
https://www.domain.com.au/7-126-wellington-parade-east-melbourne-vic-3002-16061003
row num 79
match: 0    79
Name: 79, dtype: int64
https://www.domain.com.au/1901-368-st-kilda-road-melbourne-vic-3000-16073890
row num 80
match: 0    80
Name: 80, dtype: int64
https://www.domain.com.au/1-125-high-st-prahran-vic-3181-15340091
row num 81
match: 0    81
Name: 81, dtype: int64
https://www.domain.com.au/22-ethel-street-malvern-vic-3144-16026921
row num 83
match: 0    83
Name: 83, dtype: int64
https://www.domain.com.au/140-dendy-street-brighton-east-vic-3187-16006734
row num 84
match: 0    84
Name: 84, dtype: int64
https://www.domain.com.au/14-mackie-grove-brighton-east-vic-3187-16056520
row num 87
match: 0    87
Name: 87, dtype: int64
https://www.domain.com.au/167-richardson-street-middle-park-vic-3206-16073349
row num 88
match: 0    88
Name: 88, dtype: int64
https://www.domain.com.au/238b-were-street-brighton-east-vic-3187-16047072
row num 89
match: 0    89
Name: 89, dtype: int64
https://www.domain.com.au/76-millswyn-street-south-yarra-vic-3141-15880809
row num 90
match: 0    90
Name: 90, dtype: int64
https://www.domain.com.au/19-moule-avenue-brighton-vic-3186-15981059
row num 91
match: 0    91
Name: 91, dtype: int64
https://www.domain.com.au/4-newbay-crescent-brighton-vic-3186-16001646
row num 92
match: 0    92
Name: 92, dtype: int64
https://www.domain.com.au/18-156-bay-street-port-melbourne-vic-3207-16077726
row num 94
match: 0    94
Name: 94, dtype: int64
https://www.domain.com.au/5-victoria-avenue-canterbury-vic-3126-15910266
row num 95
match: 0    95
Name: 95, dtype: int64
https://www.domain.com.au/2-10-asling-street-brighton-vic-3186-16043580
row num 97
match: 0    97
Name: 97, dtype: int64
https://www.domain.com.au/301-130-bay-street-port-melbourne-vic-3207-16014905
row num 103
match: 0    103
Name: 103, dtype: int64
https://www.domain.com.au/9-kendari-ave-balwyn-north-vic-3104-16067409
row num 104
match: 0    104
Name: 104, dtype: int64
https://www.domain.com.au/9-kendari-ave-balwyn-north-vic-3104-16028178
row num 105
match: 0    104
Name: 105, dtype: int64
https://www.domain.com.au/53-hambleton-street-albert-park-vic-3206-16066946
row num 108
match: 0    108
Name: 108, dtype: int64
https://www.domain.com.au/24-gardiner-parade-glen-iris-vic-3146-16058635
row num 109
match: 0    109
Name: 109, dtype: int64
https://www.domain.com.au/9-muriel-street-glen-iris-vic-3146-16055689
row num 114
match: 0    114
Name: 114, dtype: int64
https://www.domain.com.au/685-hampton-street-brighton-vic-3186-16030685
row num 116
match: 0    116
Name: 116, dtype: int64
https://www.domain.com.au/283a-burnley-street-richmond-vic-3121-16064303
row num 118
match: 0    118
Name: 118, dtype: int64
https://www.domain.com.au/4-18-22-islington-street-collingwood-vic-3066-14109551
row num 119
match: 0    119
Name: 119, dtype: int64
https://www.domain.com.au/2702-89-gladstone-street-south-melbourne-vic-3205-15631589
row num 120
match: 0    120
Name: 120, dtype: int64
https://www.domain.com.au/east-melbourne-vic-3002-15589957
row num 124
match: 0    124
Name: 124, dtype: int64
https://www.domain.com.au/22-davis-avenue-south-yarra-vic-3141-16072495
row num 126
match: 0    126
Name: 126, dtype: int64
https://www.domain.com.au/unit-1-9-stanley-street-brighton-vic-3186-15235651
row num 127
match: 0    127
Name: 127, dtype: int64
https://www.domain.com.au/86-hambleton-street-middle-park-vic-3206-16079300
row num 132
match: 0    132
Name: 132, dtype: int64
https://www.domain.com.au/43-black-street-brighton-vic-3186-15831389
row num 133
match: 0    133
Name: 133, dtype: int64
https://www.domain.com.au/41-bay-street-brighton-vic-3186-15910483
row num 138
match: 0    138
Name: 138, dtype: int64
https://www.domain.com.au/3-bown-court-brighton-east-vic-3187-15919106
row num 140
match: 0    140
Name: 140, dtype: int64
https://www.domain.com.au/10-ormsby-grove-toorak-vic-3142-16044813
row num 141
match: 0    141
Name: 141, dtype: int64
https://www.domain.com.au/207-esplanade-west-port-melbourne-vic-3207-16071401
row num 143
match: 0    143
Name: 143, dtype: int64
https://www.domain.com.au/2001-1-almeida-crescent-south-yarra-vic-3141-16036090
row num 146
match: 0    72
Name: 146, dtype: int64
https://www.domain.com.au/13-tribe-street-south-melbourne-vic-3205-16070468
row num 153
match: 0    153
Name: 153, dtype: int64
https://www.domain.com.au/188-williams-road-toorak-vic-3142-16006684
row num 154
match: 0    154
Name: 154, dtype: int64
https://www.domain.com.au/14-avenue-athol-canterbury-vic-3126-16070437
row num 155
match: 0    155
Name: 155, dtype: int64
https://www.domain.com.au/123-kooyong-road-armadale-vic-3143-16048128
row num 156
match: 0    156
Name: 156, dtype: int64
https://www.domain.com.au/1-david-lane-windsor-vic-3181-15900527
row num 157
match: 0    157
Name: 157, dtype: int64
https://www.domain.com.au/26-vail-street-prahran-vic-3181-16064768
row num 158
match: 0    158
Name: 158, dtype: int64
https://www.domain.com.au/58-esplanade-brighton-vic-3186-16079308
row num 159
match: 0    159
Name: 159, dtype: int64
https://www.domain.com.au/2b-parklands-crescent-brighton-east-vic-3187-16052406
row num 161
match: 0    161
Name: 161, dtype: int64
https://www.domain.com.au/82-reed-street-albert-park-vic-3206-16059174
row num 162
match: 0    162
Name: 162, dtype: int64
https://www.domain.com.au/29-canberra-grove-brighton-east-vic-3187-15994857
row num 165
match: 0    165
Name: 165, dtype: int64
https://www.domain.com.au/19b-grant-street-brighton-east-vic-3187-16028847
row num 166
match: 0    166
Name: 166, dtype: int64
https://www.domain.com.au/3-553-toorak-road-toorak-vic-3142-15928839
row num 172
match: 0    172
Name: 172, dtype: int64
https://www.domain.com.au/22-phoenix-street-south-yarra-vic-3141-16054422
row num 174
match: 0    174
Name: 174, dtype: int64
https://www.domain.com.au/39-bath-road-glen-iris-vic-3146-16018869
row num 175
match: 0    175
Name: 175, dtype: int64
https://www.domain.com.au/4-553-toorak-road-toorak-vic-3142-16050069
row num 176
match: 0    176
Name: 176, dtype: int64
https://www.domain.com.au/54-o-grady-street-albert-park-vic-3206-16059651
row num 177
match: 0    177
Name: 177, dtype: int64
https://www.domain.com.au/6b-centre-road-brighton-east-vic-3187-15971915
row num 179
match: 0    179
Name: 179, dtype: int64
https://www.domain.com.au/3-power-avenue-toorak-vic-3142-16073768
row num 182
match: 0    182
Name: 182, dtype: int64
https://www.domain.com.au/3-wise-close-windsor-vic-3181-16048317
row num 183
match: 0    183
Name: 183, dtype: int64
https://www.domain.com.au/46-pickle-st-albert-park-vic-3206-7013075
row num 187
match: 0    187
Name: 187, dtype: int64
https://www.domain.com.au/74-barrett-street-albert-park-vic-3206-16052698
row num 191
match: 0    191
Name: 191, dtype: int64
https://www.domain.com.au/72-oban-street-south-yarra-vic-3141-16079620
row num 192
match: 0    192
Name: 192, dtype: int64
https://www.domain.com.au/55-durrant-street-brighton-vic-3186-16058681
row num 194
match: 0    194
Name: 194, dtype: int64
https://www.domain.com.au/33-james-street-surrey-hills-vic-3127-16066040
row num 195
match: 0    195
Name: 195, dtype: int64
https://www.domain.com.au/14-henderson-street-south-melbourne-vic-3205-16065791
row num 198
match: 0    198
Name: 198, dtype: int64
https://www.domain.com.au/1a-erowal-street-beaumaris-vic-3193-16058467
row num 199
match: 0    199
Name: 199, dtype: int64
https://www.domain.com.au/54-wellington-street-cremorne-vic-3121-16064362
row num 200
match: 0    200
Name: 200, dtype: int64
https://www.domain.com.au/87-were-street-brighton-vic-3186-15895978
row num 201
match: 0    201
Name: 201, dtype: int64
https://www.domain.com.au/162-george-street-east-melbourne-vic-3002-15094995
row num 202
match: 0    202
Name: 202, dtype: int64
https://www.domain.com.au/704-toorak-road-malvern-vic-3144-16033240
row num 204
match: 0    204
Name: 204, dtype: int64
https://www.domain.com.au/14-durrant-street-brighton-vic-3186-16051810
row num 205
match: 0    205
Name: 205, dtype: int64
https://www.domain.com.au/425b-beach-road-beaumaris-vic-3193-16014933
row num 206
match: 0    206
Name: 206, dtype: int64
https://www.domain.com.au/1701-649-chapel-street-south-yarra-vic-3141-15879263
row num 212
match: 0    212
Name: 212, dtype: int64
https://www.domain.com.au/35-st-james-park-drive-brighton-vic-3186-16030328
row num 214
match: 0    214
Name: 214, dtype: int64
https://www.domain.com.au/14-straughan-st-glen-iris-vic-3146-16071220
row num 220
match: 0    220
Name: 220, dtype: int64
https://www.domain.com.au/5-budd-street-brighton-vic-3186-16063793
row num 222
match: 0    222
Name: 222, dtype: int64
https://www.domain.com.au/62-the-esplanade-clifton-hill-vic-3068-16030931
row num 224
match: 0    224
Name: 224, dtype: int64
https://www.domain.com.au/14-straughan-st-glen-iris-vic-3146-16053776
row num 225
match: 0    220
Name: 225, dtype: int64
https://www.domain.com.au/5-7-witchwood-cl-south-yarra-vic-3141-16052884
row num 232
match: 0    232
Name: 232, dtype: int64
https://www.domain.com.au/49-canterbury-road-toorak-vic-3142-16060114
row num 233
match: 0    233
Name: 233, dtype: int64
https://www.domain.com.au/5-airlie-street-brighton-vic-3186-16066747
row num 235
match: 0    235
Name: 235, dtype: int64
https://www.domain.com.au/8-royal-lane-fitzroy-vic-3065-7853784
row num 236
match: 0    236
Name: 236, dtype: int64
https://www.domain.com.au/3007-35-malcolm-street-south-yarra-vic-3141-14574763
row num 239
match: 0    239
Name: 239, dtype: int64
https://www.domain.com.au/174-lord-street-richmond-vic-3121-15779509
row num 240
match: 0    240
Name: 240, dtype: int64
https://www.domain.com.au/4-nareeb-court-toorak-vic-3142-16044504
row num 241
match: 0    241
Name: 241, dtype: int64
https://www.domain.com.au/4-67-walsh-street-south-yarra-vic-3141-16063567
row num 242
match: 0    242
Name: 242, dtype: int64
https://www.domain.com.au/19-balmoral-place-south-yarra-vic-3141-16077000
row num 243
match: 0    243
Name: 243, dtype: int64
https://www.domain.com.au/76-nelson-road-south-melbourne-vic-3205-16056089
row num 244
match: 0    244
Name: 244, dtype: int64
https://www.domain.com.au/405-65-beach-street-port-melbourne-vic-3207-16069853
row num 248
match: 0    248
Name: 248, dtype: int64
https://www.domain.com.au/8-royal-lane-fitzroy-vic-3065-7853786
row num 249
match: 0    236
Name: 249, dtype: int64
https://www.domain.com.au/4-67-walsh-street-south-yarra-vic-3141-16063567?topspot=1
row num 250
match: 0    242
Name: 250, dtype: int64
https://www.domain.com.au/48-young-street-fitzroy-vic-3065-16027093
row num 252
match: 0    252
Name: 252, dtype: int64
https://www.domain.com.au/46a-yeneda-street-balwyn-north-vic-3104-16072786
row num 253
match: 0    253
Name: 253, dtype: int64
https://www.domain.com.au/502-283-high-street-prahran-vic-3181-16065163
row num 256
match: 0    256
Name: 256, dtype: int64
https://www.domain.com.au/33-landcox-street-brighton-east-vic-3187-15885544
row num 265
match: 0    265
Name: 265, dtype: int64
https://www.domain.com.au/2-219-napier-street-fitzroy-vic-3065-15287397
row num 268
match: 0    268
Name: 268, dtype: int64
https://www.domain.com.au/7b-carr-street-brighton-east-vic-3187-16037629
row num 269
match: 0    269
Name: 269, dtype: int64
https://www.domain.com.au/100-600-epsom-road-flemington-vic-3031-8672749
row num 271
match: 0    271
Name: 271, dtype: int64
https://www.domain.com.au/16-tribe-street-south-melbourne-vic-3205-16032282
row num 272
match: 0    272
Name: 272, dtype: int64
https://www.domain.com.au/234-bridport-west-street-albert-park-vic-3206-16010656
row num 274
match: 0    274
Name: 274, dtype: int64
https://www.domain.com.au/12-vale-street-east-melbourne-vic-3002-16070321
row num 282
match: 0    282
Name: 282, dtype: int64
https://www.domain.com.au/206-53-chrystobel-crescent-hawthorn-vic-3122-15960886
row num 283
match: 0    283
Name: 283, dtype: int64
https://www.domain.com.au/5a-mulberry-street-richmond-vic-3121-16046225
row num 284
match: 0    284
Name: 284, dtype: int64
https://www.domain.com.au/1-dawson-avenue-brighton-vic-3186-16026885
row num 285
match: 0    285
Name: 285, dtype: int64
https://www.domain.com.au/98-johnston-st-collingwood-vic-3066-16067212
row num 286
match: 0    286
Name: 286, dtype: int64
https://www.domain.com.au/33-barkly-ave-armadale-vic-3143-16064100
row num 289
match: 0    289
Name: 289, dtype: int64
https://www.domain.com.au/2a-gooch-street-prahran-vic-3181-15974105
row num 291
match: 0    291
Name: 291, dtype: int64
https://www.domain.com.au/3-ajana-street-balwyn-north-vic-3104-16063499
row num 292
match: 0    292
Name: 292, dtype: int64
https://www.domain.com.au/21-valentine-grove-armadale-vic-3143-16040936
row num 294
match: 0    294
Name: 294, dtype: int64
https://www.domain.com.au/35-walnut-road-balwyn-north-vic-3104-16080641
row num 296
match: 0    296
Name: 296, dtype: int64
https://www.domain.com.au/31-bryson-street-canterbury-vic-3126-16077797
row num 302
match: 0    302
Name: 302, dtype: int64
https://www.domain.com.au/2-361-st-kilda-st-brighton-vic-3186-16056674
row num 304
match: 0    304
Name: 304, dtype: int64
https://www.domain.com.au/6-emerald-street-south-melbourne-vic-3205-16077214
row num 305
match: 0    305
Name: 305, dtype: int64
https://www.domain.com.au/9-parkside-st-malvern-vic-3144-16068890
row num 307
match: 0    307
Name: 307, dtype: int64
https://www.domain.com.au/49-highbury-grove-prahran-vic-3181-16056833
row num 310
match: 0    310
Name: 310, dtype: int64
https://www.domain.com.au/7-717-toorak-road-kooyong-vic-3144-16077474
row num 312
match: 0    312
Name: 312, dtype: int64
https://www.domain.com.au/2-1-creswick-street-glen-iris-vic-3146-15943598
row num 315
match: 0    315
Name: 315, dtype: int64
https://www.domain.com.au/303-835-high-street-armadale-vic-3143-15994569
row num 316
match: 0    316
Name: 316, dtype: int64
https://www.domain.com.au/31-bryson-street-canterbury-vic-3126-16077796
row num 317
match: 0    302
Name: 317, dtype: int64
https://www.domain.com.au/13-martin-street-south-melbourne-vic-3205-16068578
row num 318
match: 0    318
Name: 318, dtype: int64
https://www.domain.com.au/11-wave-street-elwood-vic-3184-16072619
row num 320
match: 0    320
Name: 320, dtype: int64
https://www.domain.com.au/2a-gwenda-avenue-canterbury-vic-3126-16079728
row num 326
match: 0    326
Name: 326, dtype: int64
https://www.domain.com.au/25-chestnut-street-richmond-vic-3121-16068056
row num 327
match: 0    327
Name: 327, dtype: int64
https://www.domain.com.au/3-56-larnook-street-prahran-vic-3181-16064188
row num 332
match: 0    332
Name: 332, dtype: int64
https://www.domain.com.au/28b-hornby-street-beaumaris-vic-3193-16039292
row num 333
match: 0    333
Name: 333, dtype: int64
https://www.domain.com.au/6-10-lalbert-crescent-prahran-vic-3181-16064800
row num 335
match: 0    335
Name: 335, dtype: int64
https://www.domain.com.au/6-rosemary-rd-beaumaris-vic-3193-16003040
row num 336
match: 0    336
Name: 336, dtype: int64
https://www.domain.com.au/2-anchor-place-prahran-vic-3181-16079263
row num 338
match: 0    338
Name: 338, dtype: int64
https://www.domain.com.au/1032-toorak-road-camberwell-vic-3124-16043783
row num 342
match: 0    342
Name: 342, dtype: int64
https://www.domain.com.au/39-comer-street-brighton-east-vic-3187-16078421
row num 343
match: 0    343
Name: 343, dtype: int64

KeyError: 478