In [3]:
# imports
import pandas as pd

In [4]:
# read datasets
property = pd.read_csv("../data/raw/full_property_zones.csv")
income_and_pop = pd.read_csv("../data/raw/income_and_pop.csv")

In [6]:

income_and_pop

,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21
0,201011001,865,370,2218,1952,13320,POLYGON ((143.78282104711133 -37.5666578080732...,Alfredton
1,201011002,842,313,2276,1573,11092,POLYGON ((143.81896375194268 -37.5558184903035...,Ballarat
2,201011005,805,330,2270,1927,6041,POLYGON ((143.8417079819547 -37.61596158212406...,Buninyong
3,201011006,775,360,1855,1627,8898,POLYGON ((143.7505006002539 -37.59119089617515...,Delacombe
4,201011007,802,350,2236,2065,3457,POLYGON ((143.7329551500814 -37.62333175526272...,Smythes Creek
...,...,...,...,...,...,...,...,...
466,217031476,681,285,1522,1167,3903,MULTIPOLYGON (((143.40263218222083 -38.7815167...,Otway
467,217041477,769,200,1905,1513,6137,POLYGON ((142.41438437646818 -38.0930256782602...,Moyne - East
468,217041478,758,280,1911,1522,8883,MULTIPOLYGON (((142.00870118938005 -38.4171452...,Moyne - West
469,217041479,760,300,1892,1451,19400,POLYGON ((142.4366836580644 -38.35544112113083...,Warrnambool - North
470,217041480,761,287,1899,1380,12151,POLYGON ((142.45281449181462 -38.3912592822811...,Warrnambool - South

In [7]:
property

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID
0,0,https://www.domain.com.au/3502-14-16-the-espla...,3502/14-16 The Esplanade St Kilda VIC 3182,5000.0,1,1,1,Apartment / Unit / Flat,noth els compar,206051514
1,1,https://www.domain.com.au/4203-35-spring-stree...,4203/35 Spring Street Melbourne VIC 3000,4500.0,3,2,2,Apartment / Unit / Flat,arguabl captiv penthous,206041503
2,2,https://www.domain.com.au/901-902-85-market-st...,901 & 902/85 Market Street South Melbourne VIC...,3750.0,2,2,1,Apartment / Unit / Flat,call exclus penthous short stay minimum week stay,206051512
3,3,https://www.domain.com.au/hawthorn-east-vic-31...,Hawthorn East VIC 3123,3750.0,4,2,3,House,luxuri finest month leas avail unfurnish fulli...,207011152
4,4,https://www.domain.com.au/50-south-wharf-drive...,50 South Wharf Drive Docklands VIC 3008,3750.0,2,2,1,Townhouse,luxuri style space,206041118
...,...,...,...,...,...,...,...,...,...,...
10997,10998,https://www.domain.com.au/cp831-888-collins-st...,CP831/888 Collins Street Docklands VIC 3008,50.0,2,1,1,Apartment / Unit / Flat,street dockland car space rent,206041118
10998,10999,https://www.domain.com.au/cp-l5c15-135-a-becke...,CP L5C15/135 A'Beckett Street Melbourne VIC 3000,50.0,1,1,1,Apartment / Unit / Flat,street car space rent,206041504
10999,11000,https://www.domain.com.au/carpark5118-70-south...,Carpark5118/70 Southbank Boulevard Southbank V...,50.0,1,1,0,House,car park space avail leas,206041509
11000,11001,https://www.domain.com.au/133-fitzroy-street-s...,133 Fitzroy Street St Kilda VIC 3182,50.0,1,1,0,Carspace,secur car space,206051514
11001,11002,https://www.domain.com.au/32-st-edmonds-rd-pra...,32 St Edmonds Rd Prahran VIC 3181,40.0,1,1,0,Apartment / Unit / Flat,secur street undercov car park avail central,206061136

In [8]:
dfinal = property.merge(income_and_pop, how='inner', left_on='LocID', right_on='SA2_CODE_2021')

dfinal

In [10]:
dfinal.shape

(9453, 18)