In [54]:
# imports
import pandas as pd

In [55]:
# read datasets
property_df = pd.read_csv("../data/raw/full_property_zones.csv")
income_and_pop = pd.read_csv("../data/raw/income_and_pop.csv")

In [56]:
dfinal = property_df.merge(income_and_pop, how='outer', left_on='LocID', right_on='SA2_CODE_2021')

dfinal

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21
0,0.0,https://www.domain.com.au/3502-14-16-the-espla...,3502/14-16 The Esplanade St Kilda VIC 3182,5000.0,1.0,1.0,1.0,Apartment / Unit / Flat,noth els compar,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,POLYGON ((144.97031393029542 -37.8607738281944...,St Kilda - West
1,18.0,https://www.domain.com.au/2202-14-16-the-espla...,2202/14-16 The Esplanade St Kilda VIC 3182,3000.0,3.0,2.0,2.0,Apartment / Unit / Flat,exclus new address welcom saint,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,POLYGON ((144.97031393029542 -37.8607738281944...,St Kilda - West
2,20.0,https://www.domain.com.au/2401-14-16-the-espla...,2401/14-16 The Esplanade St Kilda VIC 3182,2800.0,3.0,2.0,2.0,Apartment / Unit / Flat,beach view luxuri throughout,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,POLYGON ((144.97031393029542 -37.8607738281944...,St Kilda - West
3,22.0,https://www.domain.com.au/2601-14-16-the-espla...,2601/14-16 The Esplanade St Kilda VIC 3182,2700.0,3.0,2.0,2.0,Apartment / Unit / Flat,live life like welcom saint,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,POLYGON ((144.97031393029542 -37.8607738281944...,St Kilda - West
4,29.0,https://www.domain.com.au/3203-14-16-the-espla...,3203/14-16 The Esplanade St Kilda VIC 3182,2500.0,3.0,3.0,2.0,Apartment / Unit / Flat,live life like exclus leas opportun ocean view,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,POLYGON ((144.97031393029542 -37.8607738281944...,St Kilda - West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217031476.0,681.0,285.0,1522.0,1167.0,3903.0,MULTIPOLYGON (((143.40263218222083 -38.7815167...,Otway
11216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041477.0,769.0,200.0,1905.0,1513.0,6137.0,POLYGON ((142.41438437646818 -38.0930256782602...,Moyne - East
11217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041478.0,758.0,280.0,1911.0,1522.0,8883.0,MULTIPOLYGON (((142.00870118938005 -38.4171452...,Moyne - West
11218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041479.0,760.0,300.0,1892.0,1451.0,19400.0,POLYGON ((142.4366836580644 -38.35544112113083...,Warrnambool - North
11219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041480.0,761.0,287.0,1899.0,1380.0,12151.0,POLYGON ((142.45281449181462 -38.3912592822811...,Warrnambool - South

In [57]:
dfinal.dtypes

Unnamed: 0                     float64
index                           object
name                            object
cost_text                      float64
Bed                            float64
Bath                           float64
Park                           float64
property_type                   object
desc_head                       object
LocID                          float64
SA2_CODE_2021                  float64
Median_tot_prsnl_inc_weekly    float64
Median_rent_weekly             float64
Median_tot_fam_inc_weekly      float64
Median_tot_hhd_inc_weekly      float64
total_population               float64
geometry                        object
SA2_NAME21                      object
dtype: object

In [58]:
import geopandas as gpd 

# replace object with shapely geometries
dfinal['geometry'] = gpd.GeoSeries.from_wkt(dfinal['geometry'])

df = gpd.GeoDataFrame(dfinal)

In [59]:
df.dtypes

Unnamed: 0                      float64
index                            object
name                             object
cost_text                       float64
Bed                             float64
Bath                            float64
Park                            float64
property_type                    object
desc_head                        object
LocID                           float64
SA2_CODE_2021                   float64
Median_tot_prsnl_inc_weekly     float64
Median_rent_weekly              float64
Median_tot_fam_inc_weekly       float64
Median_tot_hhd_inc_weekly       float64
total_population                float64
geometry                       geometry
SA2_NAME21                       object
dtype: object

In [61]:
df

,Unnamed: 0,index,name,cost_text,Bed,Bath,Park,property_type,desc_head,LocID,SA2_CODE_2021,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,total_population,geometry,SA2_NAME21
0,0.0,https://www.domain.com.au/3502-14-16-the-espla...,3502/14-16 The Esplanade St Kilda VIC 3182,5000.0,1.0,1.0,1.0,Apartment / Unit / Flat,noth els compar,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,"POLYGON ((144.97031 -37.86077, 144.97018 -37.8...",St Kilda - West
1,18.0,https://www.domain.com.au/2202-14-16-the-espla...,2202/14-16 The Esplanade St Kilda VIC 3182,3000.0,3.0,2.0,2.0,Apartment / Unit / Flat,exclus new address welcom saint,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,"POLYGON ((144.97031 -37.86077, 144.97018 -37.8...",St Kilda - West
2,20.0,https://www.domain.com.au/2401-14-16-the-espla...,2401/14-16 The Esplanade St Kilda VIC 3182,2800.0,3.0,2.0,2.0,Apartment / Unit / Flat,beach view luxuri throughout,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,"POLYGON ((144.97031 -37.86077, 144.97018 -37.8...",St Kilda - West
3,22.0,https://www.domain.com.au/2601-14-16-the-espla...,2601/14-16 The Esplanade St Kilda VIC 3182,2700.0,3.0,2.0,2.0,Apartment / Unit / Flat,live life like welcom saint,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,"POLYGON ((144.97031 -37.86077, 144.97018 -37.8...",St Kilda - West
4,29.0,https://www.domain.com.au/3203-14-16-the-espla...,3203/14-16 The Esplanade St Kilda VIC 3182,2500.0,3.0,3.0,2.0,Apartment / Unit / Flat,live life like exclus leas opportun ocean view,206051514.0,206051514.0,1236.0,392.0,2787.0,1849.0,14408.0,"POLYGON ((144.97031 -37.86077, 144.97018 -37.8...",St Kilda - West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217031476.0,681.0,285.0,1522.0,1167.0,3903.0,"MULTIPOLYGON (((143.40263 -38.78152, 143.40252...",Otway
11216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041477.0,769.0,200.0,1905.0,1513.0,6137.0,"POLYGON ((142.41438 -38.09303, 142.41400 -38.0...",Moyne - East
11217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041478.0,758.0,280.0,1911.0,1522.0,8883.0,"MULTIPOLYGON (((142.00870 -38.41715, 142.00876...",Moyne - West
11218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041479.0,760.0,300.0,1892.0,1451.0,19400.0,"POLYGON ((142.43668 -38.35544, 142.43658 -38.3...",Warrnambool - North
11219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217041480.0,761.0,287.0,1899.0,1380.0,12151.0,"POLYGON ((142.45281 -38.39126, 142.45230 -38.3...",Warrnambool - South

In [60]:
df['centroid'] = df['geometry'].apply(lambda x: (x.centroid.y, x.centroid.x))

AttributeError: 'NoneType' object has no attribute 'centroid'

In [10]:
dfinal.shape
# this doesnt work. We lose too many rows of housing data - over 1000. A better approach would be to do an outer
# join which keeps all property data, 
# for the properties that are left without assignment, we 
# then find the centroids for each of the income areas, and then 
# find the closest centroid to each property

(9453, 18)